
  <section id="contact-info" class="my-4">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Contacto</h2>
        <p>Estamos aquí para ayudarte con cualquier pregunta o sugerencia.</p>
      </div>
    </div>
  </section>

  <section id="contact-form" class="my-4">
    <div class="row">
      <!-- Columna para el formulario -->
      <div class="col-md-8">
        <div class="card p-4">
          <h3>Envíanos un Mensaje</h3>
          <form>
            <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input type="text" class="form-control" id="nombre" placeholder="Tu nombre">
            </div>
            <br>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Tu email">
            </div>
            <br>
            <div class="form-group">
              <label for="mensaje">Mensaje:</label>
              <textarea class="form-control" id="mensaje" rows="3" placeholder="Tu mensaje"></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-success">Enviar</button>
          </form>
        </div>
      </div>

      <!-- Columna para la información de contacto -->
      <div class="col-md-4">
        <div class="card p-4">
          <h3>Información de Contacto</h3>
          <p><strong>Email:</strong> info@plantasynaturaleza.com</p>
          <p><strong>Teléfono:</strong> +52 123 456 7890</p>
          <p><strong>Dirección:</strong> Calle de las Plantas 123, Ciudad Verde</p>
        </div>
      </div>
    </div>
  </section>