<section id="about-info" class="my-4">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Acerca de</h2>
      <p></p>
    </div>
  </div>
</section>

<section id="about-intro" class="my-4">
  <div class="container" >
    <div class="row">
      <!-- Card 1: Introducción -->
      <div class="col-md-3 mb-4 d-flex align-items-stretch">
        <div class="card border-success flex-fill shadow-sm">
          <div class="card-body text-center">
            <h5 class="card-title text-success">Acerca de Nosotros</h5>
            <p class="card-text">Somos un equipo de entusiastas de las plantas, dedicados a compartir información valiosa sobre el cuidado y mantenimiento de diferentes tipos de plantas. Nuestro objetivo es ayudar a otros a disfrutar de la belleza y beneficios de las plantas en su vida diaria.</p>
          </div>
        </div>
      </div>
      <!-- Card 2: Misión -->
      <div class="col-md-3 mb-4 d-flex align-items-stretch">
        <div class="card border-success flex-fill shadow-sm">
          <div class="card-body text-center">
            <h5 class="card-title text-success">Nuestra Misión</h5>
            <p class="card-text">Proveer información de calidad y recursos educativos sobre plantas para fomentar un mayor entendimiento y cuidado de las mismas. Queremos que más personas disfruten de los beneficios de tener plantas en sus hogares y lugares de trabajo.</p>
          </div>
        </div>
      </div>
      <!-- Card 3: Visión -->
      <div class="col-md-3 mb-4 d-flex align-items-stretch">
        <div class="card border-success flex-fill shadow-sm">
          <div class="card-body text-center">
            <h5 class="card-title text-success">Nuestra Visión</h5>
            <p class="card-text">Convertirnos en un referente en el mundo de la botánica y el cuidado de plantas, construyendo una comunidad global de amantes de las plantas que comparten conocimientos y experiencias.</p>
          </div>
        </div>
      </div>
      <!-- Card 4: Equipo -->
      <div class="col-md-3 mb-4 d-flex align-items-stretch">
        <div class="card border-success flex-fill shadow-sm">
          <div class="card-body text-center">
            <h5 class="card-title text-success">Conoce al Equipo</h5>
            <p class="card-text">Nuestro equipo está compuesto por expertos en jardinería, botánicos y escritores apasionados por compartir su amor por las plantas. Creemos que juntos podemos inspirar a otros a descubrir el mundo de la naturaleza y cómo integrarla en sus vidas cotidianas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

