<section id="about-intro" class="my-4">
    <div class="row">
      <div class="col-md-12">
        <h2>Acerca de Nosotros</h2>
        <p>Somos un equipo de entusiastas de las plantas, dedicados a compartir información valiosa sobre el cuidado y mantenimiento de diferentes tipos de plantas. Nuestro objetivo es ayudar a otros a disfrutar de la belleza y beneficios de las plantas en su vida diaria.</p>
      </div>
    </div>
  </section>
  
  <section id="mission" class="my-4">
    <div class="row">
      <div class="col-md-12">
        <h3>Nuestra Misión</h3>
        <p>Proveer información de calidad y recursos educativos sobre plantas para fomentar un mayor entendimiento y cuidado de las mismas. Queremos que más personas disfruten de los beneficios de tener plantas en sus hogares y lugares de trabajo.</p>
      </div>
    </div>
  </section>
  
  <section id="vision" class="my-4">
    <div class="row">
      <div class="col-md-12">
        <h3>Nuestra Visión</h3>
        <p>Convertirnos en un referente en el mundo de la botánica y el cuidado de plantas, construyendo una comunidad global de amantes de las plantas que comparten conocimientos y experiencias.</p>
      </div>
    </div>
  </section>
  
  <section id="team" class="my-4">
    <div class="row">
      <div class="col-md-12">
        <h3>Conoce al Equipo</h3>
        <p>Nuestro equipo está compuesto por expertos en jardinería, botánicos y escritores apasionados por compartir su amor por las plantas. Creemos que juntos podemos inspirar a otros a descubrir el mundo de la naturaleza y cómo integrarla en sus vidas cotidianas.</p>
      </div>
    </div>
  </section>
  